In [7]:
heights = [189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175, 178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178, 182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188, 182, 185, 191]

In [8]:
#we wanted to know how many presidents are taller than 188cm,

In [9]:
cnt = 0 
for h in heights:
    if h > 188:
        cnt += 1
print(cnt)

5

In [10]:
import numpy as np
heights_arr =  np.array(heights)
print((heights_arr  >188).sum())

5

In [11]:
heights_arr.size

45

In [12]:
heights_arr.shape

(45,)

In [13]:
##Size tells us how big the array is, shape tells us the dimension. To get current shape of an array use attribute shape:

In [14]:
ages = [57, 61, 57, 57, 58, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52, 56, 46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54, 51, 60, 62, 43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70]

In [15]:
heights_and_ages = heights +ages
heights_and_ages_arr = np.array(heights_and_ages)
heights_and_ages_arr.shape

(90,)

In [16]:
heights_and_ages_arr.reshape((2,45))

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
        182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
        185, 188, 188, 182, 185, 191],
       [ 57,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
         48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,
         51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,  52,
         69,  64,  46,  54,  47,  70]])

In [17]:
 heights_and_ages_arr.reshape(-1)

array([189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
       178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
       182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
       185, 188, 188, 182, 185, 191,  57,  61,  57,  57,  58,  57,  61,
        54,  68,  51,  49,  64,  50,  48,  65,  52,  56,  46,  54,  49,
        51,  47,  55,  55,  54,  42,  51,  56,  55,  51,  54,  51,  60,
        62,  43,  55,  56,  61,  52,  69,  64,  46,  54,  47,  70])

In [18]:
 heights_and_ages_arr.reshape(-1,45)

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
        182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
        185, 188, 188, 182, 185, 191],
       [ 57,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
         48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,
         51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,  52,
         69,  64,  46,  54,  47,  70]])

In [19]:
 heights_and_ages_arr.reshape(-1,15)

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183],
       [193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178, 182, 180,
        183, 178],
       [182, 188, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188, 182,
        185, 191],
       [ 57,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
         48,  65],
       [ 52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,  51,  56,
         55,  51],
       [ 54,  51,  60,  62,  43,  55,  56,  61,  52,  69,  64,  46,  54,
         47,  70]])

In [20]:
 heights_and_ages_arr.dtype

dtype('int64')

In [21]:
#Numpy supports several data types such as int (integer), float (numeric floating point), and bool (boolean values, True and False). The number after the data type, ex. int64, represents the bitsize of the data type.

In [22]:
 heights_and_ages_arr.reshape(-1,45)

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
        182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
        185, 188, 188, 182, 185, 191],
       [ 57,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
         48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,
         51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,  52,
         69,  64,  46,  54,  47,  70]])

In [23]:
heights_and_ages_arr = heights_and_ages_arr.reshape((2,45))

In [24]:
 heights_and_ages_arr[0,0:7 ]

array([189, 170, 189, 163, 183, 171, 185])

In [25]:
 heights_and_ages_arr[1,0:7 ]

array([57, 61, 57, 57, 58, 57, 61])

In [26]:
#When the starting index is 0, we can omit it as shown below:

In [27]:
 heights_and_ages_arr[1,:7 ]

array([57, 61, 57, 57, 58, 57, 61])

In [28]:

#weâ€™d like to see the entire 9 column? Specify this by using a ":" as follows

heights_and_ages_arr[:,8 ]

array([173,  68])

In [31]:
##Numpy slicing syntax follows that of a python list: arr[start:stop:step]. When any of these are unspecified, they default to the values start=0, stop=size of dimension, step=1.

In [32]:




#Numpy slicing syntax follows that of a python list: arr[start:stop:step]. When any of these are unspecified, 
#they default to the values start=0, stop=size of dimension, step=1.

In [33]:
heights_and_ages_arr[:,0]*0.0328084

array([6.2007876, 1.8700788])

In [ ]:
################
Data Science - Average of Rows


In a matrix, or 2-d array X, the averages (or means) of the elements of rows is called row means.

Task
Given a 2D array, return the rowmeans.

Input Format
First line: two integers separated by spaces, the first indicates the rows of matrix X (n) and the second indicates the columns of X (p)
Next n lines: values of the row in X

Output Format
An numpy 1d array of values rounded to the second decimal.

########

In [37]:
import numpy as np
n, p = [int(x) for x in input().split()]
lista = []
for i in range(n):
    lista.append(input().split())
    #this is getting the input and append it

print(np.array(lista).astype(np.float16).mean(axis=1).round(2))

2 2
1.25 2.75
1.5 3.5
[[1.25 2.75]
 [1.5  3.5 ]]

In [ ]:
Series

In [ ]:
#Think of Series as numpy 1darray with index or row names.

In [1]:
import pandas as pd
pd.Series([1,2,3], index=['a','b','c'])

a    1
b    2
c    3
dtype: int64

In [4]:
import numpy as np
pd.Series(np.array([1,2,3]), index=['a','b','c'])

a    1
b    2
c    3
dtype: int64

In [5]:
wine_dic = {
    'red_wine' : [3,6,5],
    'white_wine': [5,0,10]
}
sales= pd.DataFrame(wine_dic, index= ['adam','bob','charles'])
sales

         red_wine  white_wine
adam            3           5
bob             6           0
charles         5          10

In [10]:
import pandas as pd

presidents_df = pd.read_csv('https://sololearn.com/uploads/files/president_heights_party.csv', index_col='name')

In [11]:
presidents_df

                        order  age  height                  party
name
George Washington           1   57     189                   none
John Adams                  2   61     170             federalist
Thomas Jefferson            3   57     189  democratic-republican
James Madison               4   57     163  democratic-republican
James Monroe                5   58     183  democratic-republican
John Quincy Adams           6   57     171  democratic-republican
Andrew Jackson              7   61     185             democratic
Martin Van Buren            8   54     168             democratic
William Henry Harrison      9   68     173                   whig
John Tyler                 10   51     183                   whig
James K. Polk              11   49     173             democratic
Zachary Taylor             12   64     173                   whig
Millard Fillmore           13   50     175                   whig
Franklin Pierce            14   48     178             democratic
James Buchanan             15   65     183             democratic
Abraham Lincoln            16   52     193             republican
Andrew Johnson             17   56     178         national union
Ulysses S. Grant           18   46     173             republican
Rutherford B. Hayes        19   54     174             republican
James A. Garfield          20   49     183             republican
Chester A. Arthur          21   51     183             republican
Grover Cleveland           22   47     180             democratic
Benjamin Harrison          23   55     168             republican
Grover Cleveland           25   55     180             democratic
William McKinley           25   54     170             republican
Theodore Roosevelt         26   42     178             republican
William Howard Taft        27   51     182             republican
Woodrow Wilson             28   56     180             democratic
Warren G. Harding          29   55     183             republican
Calvin Coolidge            30   51     178             republican
Herbert Hoover             31   54     182             republican
Franklin D. Roosevelt      32   51     188             democratic
Harry S. Truman            33   60     175             democratic
Dwight D. Eisenhower       34   62     179             republican
John F. Kennedy            35   43     183             democratic
Lyndon B. Johnson          36   55     193             democratic
Richard Nixon              37   56     182             republican
Gerald Ford                38   61     183             republican
Jimmy Carter               39   52     177             democratic
Ronald Reagan              40   69     185             republican
George H. W. Bush          41   64     188             republican
Bill Clinton               42   46     188             democratic
George W. Bush             43   54     182             republican
Barack Obama               44   47     185             democratic
Donald J. Trump            45   70     191             republican

In [ ]:
 ##To get the number of rows we can access the first element in the tuple.

In [12]:
presidents_df.shape[0]

45

In [ ]:
#to get the column

In [13]:
presidents_df.shape[1]

4

In [14]:
presidents_df.head(n=4)

                   order  age  height                  party
name
George Washington      1   57     189                   none
John Adams             2   61     170             federalist
Thomas Jefferson       3   57     189  democratic-republican
James Madison          4   57     163  democratic-republican

In [15]:
presidents_df.tail(n=6)

                   order  age  height       party
name
Ronald Reagan         40   69     185  republican
George H. W. Bush     41   64     188  republican
Bill Clinton          42   46     188  democratic
George W. Bush        43   54     182  republican
Barack Obama          44   47     185  democratic
Donald J. Trump       45   70     191  republican

In [16]:
presidents_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, George Washington to Donald J. Trump
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   order   45 non-null     int64
 1   age     45 non-null     int64
 2   height  45 non-null     int64
 3   party   45 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.8+ KB

In [17]:
presidents_df.loc['Abraham Lincoln']

order             16
age               52
height           193
party     republican
Name: Abraham Lincoln, dtype: object

In [18]:
type(presidents_df.loc['Abraham Lincoln'])

pandas.core.series.Series

In [19]:
presidents_df.loc['Abraham Lincoln'].shape

(4,)

In [20]:
presidents_df.loc['Abraham Lincoln': 'Ulysses S. Grant']

                  order  age  height           party
name
Abraham Lincoln      16   52     193      republican
Andrew Johnson       17   56     178  national union
Ulysses S. Grant     18   46     173      republican

In [ ]:
#.loc[ ] allows us to select data by label or by a conditional statement.

In [21]:
presidents_df.iloc[15].shape

(4,)

In [22]:
presidents_df.iloc[15:18]

                  order  age  height           party
name
Abraham Lincoln      16   52     193      republican
Andrew Johnson       17   56     178  national union
Ulysses S. Grant     18   46     173      republican

In [ ]:
Both .loc[ ] and .iloc[ ] may be used with a boolean array to subset the data.

In [24]:
presidents_df.columns

Index(['order', 'age', 'height', 'party'], dtype='object')

In [25]:
presidents_df['height']

name
George Washington         189
John Adams                170
Thomas Jefferson          189
James Madison             163
James Monroe              183
John Quincy Adams         171
Andrew Jackson            185
Martin Van Buren          168
William Henry Harrison    173
John Tyler                183
James K. Polk             173
Zachary Taylor            173
Millard Fillmore          175
Franklin Pierce           178
James Buchanan            183
Abraham Lincoln           193
Andrew Johnson            178
Ulysses S. Grant          173
Rutherford B. Hayes       174
James A. Garfield         183
Chester A. Arthur         183
Grover Cleveland          180
Benjamin Harrison         168
Grover Cleveland          180
William McKinley          170
Theodore Roosevelt        178
William Howard Taft       182
Woodrow Wilson            180
Warren G. Harding         183
Calvin Coolidge           178
Herbert Hoover            182
Franklin D. Roosevelt     188
Harry S. Truman           175
Dwight D. Eisenhower      179
John F. Kennedy           183
Lyndon B. Johnson         193
Richard Nixon             182
Gerald Ford               183
Jimmy Carter              177
Ronald Reagan             185
George H. W. Bush         188
Bill Clinton              188
George W. Bush            182
Barack Obama              185
Donald J. Trump           191
Name: height, dtype: int64

In [26]:
presidents_df[['height','age']].head(n=3)

                   height  age
name
George Washington     189   57
John Adams            170   61
Thomas Jefferson      189   57

In [ ]:
##When accessing a single column, one bracket results in a Series (single dimension) and double brackets results in a DataFrame (multi dimensional).

In [ ]:
More with .loc

In [27]:
presidents_df.loc[:, 'order':'height'].head(n=3)

                   order  age  height
name
George Washington      1   57     189
John Adams             2   61     170
Thomas Jefferson       3   57     189

In [ ]:
#The index in pandas makes retrieving information from rows or columns convenient and easy, especially when the data set is large or there are many columns. Therefore, we donâ€™t have to memorize the integer positions of each row or column.